node_modules/*
!node_modules/fluent-ffmpeg/
node_modules/fluent-ffmpeg/*
!node_modules/fluent-ffmpeg/lib
node_modules/fluent-ffmpeg/lib/*
!node_modules/fluent-ffmpeg/lib/ffprobe.js
*-lock.json
.idea
client/public
