.lower_z_index {
    z-index: 100!important;
}

.overflow_class {
    max-height: 600px;
    overflow: auto
}

.guide_button:hover {
    cursor: pointer;
}
.alignCenter {
    margin-left: 34%;
}
.allignBase {
    display: grid;
}
.thumbnail {
    width: 100%;
    height: 100%
}